body{
    margin: 0;
}
.up{
    background-color: black;
   color:  white;


}



h1{
    color: red;
} 

ul{
    display: flex;
    list-style-type: none;
    padding-left: 40px;
    font-size: 25px;
gap: 20px;

}



.up2{
    display: flex;
    justify-content: space-around;
    

}
main{
   max-width: 1000px;
    margin: 0 auto
}